<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">

    <title>Covid 19 Prediction</title>
    <style type="text/css">
        .total-container div {
            font-size: x-large;
        }

        .country {
            width: 35%!important;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">COVIDLive</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/detector">COVID19 DETECTOR</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
        <div class="d-flex justify-content-around m-5 total-container">
            <div id="cases" class="border-right pr-4">0</div>
            <div id="deaths" class="border-right pr-4">0</div>
            <div id="recovered">0</div>
            <button class="btn btn-primary" id="refreshTotalData">Refresh</button>
        </div>
        <table id="cases-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th class="country">Country</th>
                    <th>Cases</th>
                    <th>Today Cases</th>
                    <th>Deaths</th>
                    <th>Today Deaths</th>
                    <th>Recovered</th>
                </tr>
            </thead>
            <tbody id="cases-body">

            </tbody>
            <tfoot>
                <tr>
                    <th>Country</th>
                    <th>Cases</th>
                    <th>Today Cases</th>
                    <th>Deaths</th>
                    <th>Today Deaths</th>
                    <th>Recovered</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  </body>
    <script type="text/javascript">
        console.log(jQuery)
    //     console.log(jQuery("#refreshTotalData"))
    // jQuery(document).ready(function() {
    //     jQuery('#cases-table').DataTable();
    // } );

    // jQuery(document).ready(function() {
    //     jQuery('#cases-table').DataTable( {
    //         "ajax": "https://corona.lmao.ninja/countries",
    //         "dataSrc": "https://corona.lmao.ninja/countries"
    //     });
    // });
    // jQuery(document).ready(function() {
    //     jQuery('#cases-table').DataTable( {
    //         "processing": true,
    //         "serverSide": true,
    //         "ajax":{url:"https://corona.lmao.ninja/countries",dataSrc:""},
    //         "columns": [
    //             { "data": "country" },
    //             { "data": "cases" },
    //             { "data": "todayCases" },
    //             { "data": "deaths" },
    //             { "data": "todayDeaths" },
    //             { "data": "recovered" }
    //         ]
    //     } );
    // } );
    const getTotalData = async (url , type = "tableData") => {

        try {
            
            let result = await fetch("https://corona.lmao.ninja"+url)

            let data  = await result.json();

            if(type == "totalData") {

                let {cases, deaths, recovered} = data;

                document.querySelector("#cases").innerText = "Total Cases: " + cases;
                document.querySelector("#deaths").innerText = "Total Deaths: " + deaths;
                document.querySelector("#recovered").innerText = "Total Recovered: " + recovered;
            }
            else {
                console.log(data)
                let markup = data.map(i=> {
                    return `<tr>
                        <td class="d-flex justify-content-around"><img src="${i.countryInfo.flag}" width="40px" height="20px" /><h3>${i.country}</h3></td>
                        <td>${i.cases}</td>
                        <td>${i.todayCases}</td>
                        <td>${i.deaths}</td>
                        <td>${i.todayDeaths}</td>
                        <td>${i.recovered}</td>
                    </tr>` 
                }).join("")

                document.querySelector("#cases-body").innerHTML = markup;

            }
        }
        catch(err) {
            console.log(err);
        }
    }

    getTotalData("/all", "totalData");

    getTotalData("/countries");

    document.querySelector("#refreshTotalData").addEventListener("click",(evt) => {
        getTotalData("/all", "totalData");
        getTotalData("/countries");
    })


 
  </script>
</html>